.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
    margin-top: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar {
    position: relative; /* or fixed if you want it to stay on top during scroll */
    z-index: 1000; /* Ensure it's higher than other content */
}

.navbar-nav .nav-link {
    position: relative; /* or absolute, fixed */
    z-index: 1001; /* Higher than .navbar to ensure it's on top */
    margin-right: 15px;
}

.btn {
    margin: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
